body {
    font-family: 'Lato', sans-serif;
    background-color: #333333;
    padding: 0 40px;
}
.wrapper {
    max-width: 1024px;
    margin: 0  auto;
}
.screen {
    max-width: 800px;
    background-color: #fff;
    height: 300px;
    margin: 40px auto;
    border: 5px solid #ecf439;
    border-radius: 40px;
}
.screen > textarea {
    box-sizing: border-box;
    /* overflow: scroll; */
    font-size: 20px;
    outline: none;
    width: calc(100%);
    height: calc(100%);
    padding: 20px;
    box-shadow: inset 0px 10px 5px 0px rgba(50,50,50,0.7);
    resize: none;
    border-radius: 40px;
    border: none;
}
.keyboard {
    position: relative;
    max-width: 660px;
    background: 
    radial-gradient(circle, rgba(72,72,72,1) 0%, rgba(62,62,62,1) 35%, rgba(50,50,50,1) 100%);
    height: 400px;
    margin: 0 auto;
    border: 1px solid #4c4c4c;
    border-top: 2px solid rgb(211, 211, 211);
    border-bottom: 1px solid rgb(169, 169, 169);
    border-radius: 20px;
}
.keyboard__box-yellow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 50px;
    margin: 20px auto;
    background-color: #c5cd32;
    border-radius: 40px;
    border: 2px solid #0e0d25;
    box-shadow: inset 0px 0px 0px 4px rgba(255,255,0,1);
}
.keyboard__box-yellow-2 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 99%;
    height: 83%;
    border-radius: 40px;
    box-shadow: inset 0px 15px 10px 0px rgba(0,0,0,0.4);
}
.keyboard__logo {
    position: absolute;
    color: rgb(99, 99, 99);
    font-weight: 300;
    font-size: 12px;
    text-decoration: underline;
    bottom: 20px;
    left: 20px;
}
.keyboard__keys {
    display: grid;
    height: 250px;
    grid-gap: 5px;
    padding: 0 20px;
    grid-template-columns: repeat(30, 1fr);
    grid-template-rows: repeat(5, 37px);
}
.keyboard__key { 
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(0deg, rgba(55,55,55,1) 0%, rgba(84,84,84,1) 4%, rgba(68,68,68,1) 22%, rgba(65,65,65,1) 46%, rgba(53,53,53,1) 96%, rgba(104,105,104,1) 98%, rgba(47,47,47,1) 100%);
    border-radius: 30px;
    border: 2px solid #171717;
    color: white;
    font-size: 12px;
    font-weight: 300;
    text-align: center;
    grid-column: span 2;
}
.keyboard__key:hover {
    background: linear-gradient(0deg, rgba(178,186,52,1) 0%, rgba(215,216,51,1) 14%, rgba(224,234,22,1) 28%, rgba(215,216,51,1) 82%, rgba(253,255,91,1) 92%, rgba(178,186,52,1) 100%);
    color: black;
    font-weight: 400;
    cursor: pointer;
}
.animate {
    background: linear-gradient(0deg, rgba(178,186,52,1) 0%, rgba(215,216,51,1) 14%, rgba(224,234,22,1) 28%, rgba(215,216,51,1) 82%, rgba(253,255,91,1) 92%, rgba(178,186,52,1) 100%);
    color: black;
    border-radius: 0;
    transition: all 0.2s;
}
.hidden {
    display: none;
}
.keyboard__key_backspace {
    grid-column: span 4;
}
.keyboard__key_tab {
    grid-column: span 3;
}
.keyboard__key_slash {
    grid-column: span 3;
}
.keyboard__key_capslock {
    grid-column: span 4;
}
.keyboard__key_enter {
    grid-column: span 4;
}
.keyboard__key_shift {
    grid-column: span 5;
}
.keyboard__key_alt {
    grid-column: span 3;
}
.keyboard__key_space {
    grid-column: span 12;
}
.arrow {
    height: 70%;
    align-self: flex-end;
}
.arrow-up-down {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-column: span 2;
}
.key-arrow {
    flex-grow: 1;
}
.key-arrow-up {
    border-radius: 30px 30px 0 0;
    /* padding-top: 5px; */
    font-size: 8px;
}
.key-arrow-down {
    border-radius: 0 0 30px 30px;
    /* padding-bottom: 5px; */
    font-size: 8px;
}
i {
    border: solid white;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 3px;
}
.arrow-up {
    transform: rotate(-135deg);
}
.arrow-down {
    transform: rotate(45deg);
}
.arrow-right {
    transform: rotate(-45deg);
}
.arrow-left {
    transform: rotate(135deg);
}
